.body{
    min-height: 60vh;
}

 .bodytop{
    color: #326CF4;
    font-size: 12px ;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    
 }

 .bodyhead{
   
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-size: 56px;
 }

 .bodyparagrap{
   font-size: 21px;
   font-weight: 300px;
   font-family: inter, "Helvetica Neue", Arial, sans-serif;
   
 }

 .hirebody{
    background-color: #F3FAFF;
 }

 .hire-first-col-title{
   color: #343636;
   font-family: Inter, "Helvetica Neue", Arial, sans-serif;
   font-size: 21px;
   font-weight: 700;
 
 }

 .col1{
      
      font-family: Inter, "Helvetica Neue", Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: #343636;
    
 }


.value{
   font-weight: bold;
}

.boldfont{
   font-size: 16px;
   font-weight: bold;

}

.bringtotop{
   color: #326CF4;
   font-family: sans-serif;
   font-size: 14px;
   
 }