
.header-body{
    background:white;
    min-height: 9vh;
    max-width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.body{
    display: flex;
    justify-content: center;
}

.signinpage-body{
   
    background-color: white;
    width: 60vh;
    height: 60vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    border: 1rem ;
    font-family: "Inter var", Inter, sans-serif;
   

}
.registerpage-body{
   
    background-color: white;
    width: 60vh;
    height: 90vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 1rem ;
    font-family: "Inter var", Inter, sans-serif;
   

}

.resetpass-body{
   
    background-color: white;
    width: 60vh;
    height: 50vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    border: 1rem ;
    font-family: "Inter var", Inter, sans-serif;
   

}

/* .body-p1{
    font-family: "Inter var", Inter, sans-serif;
    font-weight: 300;
    font-size: 24px;

}

.body-p2{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

} */
