.aboutusbody{
    background-color: #F3FAFF;
    min-height: 30vh;
    width: 100%;
}

.aboutusbodyfont{
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    
}
.aboutusbodyfontbody{
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    font-size: 21px;

}



.visionpargraph{
    background-color: #F3FAFF;
}
.img-ceo{
    width: 70vh;
    min-height: 60vh;
    padding:auto;
}
.visionheader{
    font-size: 12px;
    font-family:Inter, "Helvetica Neue", Arial, sans-serif;
    color:#326CF3;
    margin: 0px 0px 24px;
    font-weight: bold;
}

.visionbody{
    color: #343646;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    margin: 0px 0px 24px;
    font-size: 16px inter;
}

.teamheader{
font-size: 48px;
font-family: Inter, "Helvetica Neue", Arial, sans-serif;
margin: 0px 0px 20px;
color: #343646;
}

.teamname{
    color: #326CF4;
    font-size: 18px;
    margin: 0px 0px 6px;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
}

.teamnamebody{
  color: #323646;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
}


@media screen and (max-width: 600px) {
    .aboutusbodyfont{
        font-size: 26px;
    } 
    .aboutusbodyfontbody{
        font-size: 16px;
    }
    .aboutusbody{
        min-height: 20vh;
        width: 100%;
    }
    .img-ceo{
        width:60vh;
        min-height: 30vh;
    }
    .teamheader{
        font-size: 34px;
    }
}