.title-body{
    min-height: 40vh;
}

 .bodytop{
    color: #326CF4;
    font-size: 12px;
    font-family:Inter, "Helvetica Neue", Arial, sans-serif;;
    font-weight: bold;
 }

 .carrerhead{
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;;
    font-weight: bold;
    font-size: 56px;
 }

 .carrer-paragrap{
   font-size: 21px;
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;;
   
 }

 .careerbody{
    background-color: #F3FAFF;
 }

 .lifetitle{
   color: #326CF4;
   font-family:Inter, "Helvetica Neue", Arial, sans-serif;;
   font-size: 18px;
   font-weight: bolder;
 }



 .col1{
      
      font-family: Inter, "Helvetica Neue", Arial, sans-serif;;
      font-size: 16px;

    
 }

 .corevalues-img{
  width:65vh ;
  height:65vh ;
 
 }
li{
   font-size: 16px;
   font-weight: bold;
}
.value{
   font-weight: bold;
}

.boldfont{
   font-size: 16px;
   font-weight: bold;

}

.bringtotop{
   color: #326CF4;
   font-family:Inter, "Helvetica Neue", Arial, sans-serif;;
   font-size: 14px;
   
 }

 .advheader{
   font-family:Inter, "Helvetica Neue", Arial, sans-serif;;
   font-size: 26px;
   color: #326CF4;
   font-weight: bold;
 }

 .advbody{
   color: black;
   font-size: 26px;
   font-family: Inter, "Helvetica Neue", Arial, sans-serif;;

   font-weight: bold;
 }

 .advsection{
   font-size: 18px;
   font-family: Inter, "Helvetica Neue", Arial, sans-serif;;
   font-weight: lighter;
 }

 .vertical-line{
   border-left: 4px solid  #326CF4;
   height: 100px;

   
 }

 .advantage-paragraph{
   font-size: 18px;
   font-family: Inter, "Helvetica Neue", Arial, sans-serif;;
   font-weight: bolder;
   
 }

 @media screen and (max-width: 575.98px) {
  .carrerhead{
    font-size: 28px;
  }
  .carrer-paragrap{
    font-size: 18px;
  }
  .corevalues-img{
    width: 50vh;
    height: 50vh;

  }

}

@media screen and (max-width: 768px) and (max-width: 991.98px) {
  .carrerhead{
    font-size: 22px;
  }
  .carrer-paragrap{
    font-size: 22px;
  }
  
}
