.tab-main {
  margin-top: 10px;
  background-color:  #F3FAFF;
  height: "850px";
}
.tab-list-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.tab-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: 15px;
}

.tab-button:hover {
  background-color:  #F3FAFF;
}

.tab-button:focus {
  outline: none;
}


.col1{
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300px;
  
}
.bold{
  font-weight: bold;
}




ul {
  list-style-type: circle; /* Change the bullet style */
  margin-left: 20px; /* Add indentation */
}

ol {
  list-style-type: decimal; /* Use numbers for ordered list */
  padding-left: 20px; /* Add padding */
}

li {
  margin-bottom: 5px; /* Add space between list items */
}