.tab-main {
  margin-top: 10px;
  background-color: lightblue;
  height: "850px";
}
.tab-list-container {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.tab-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: 15px;
}

.tab-button:hover {
  background-color: #f3faff;
}

.tab-button:focus {
  outline: none;
}
