.navbar {
  background-color: #254c5a;
  margin: 0 !important;
}
.scrolled {
  background-color: #051319fb !important;
  color: black !important;
  margin-bottom: 0 !important;
}

#basic-nav-dropdown {
  color: white;
}
#nav-text {
  color: white;
}
