.glide {
  height: 350px;
  padding: 1rem;
  margin-top: 20px;
}

.train-container {
  overflow: hidden;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.train {
  display: flex;
  justify-content: center;
  animation: moveTrain linear 300s infinite;
}

@keyframes moveTrain {
  100% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
