.main {
  min-height: 30vh;
  background: #3a427e;
  position: relative;
}
.footer {
  min-height: 80vh;
  background: #d4d6d8;
}

.footerpragraph {
  display: flex;

  justify-content: center;
  align-content: center;
  height: auto;
  min-width: var(--width);
  color: #ffffff;
  font-size: 36px;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
}

.col {
  display: flex;
  justify-content: space-around;
}

.col2 {
  color: #242632;
  font-size: 18px;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
}

/*   
  span {
    display: flex;
    justify-content: center;
    align-content: center;



    --color: #0077ff;
    font-family: sans-serif;
    font-weight: bolder;
    display: inline-block;
    width: 6em;
    height: 2em;
    bottom: 20px;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  span::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  span:hover {
    color: white;
  }
  
  span:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  span:hover::before {
    top: -30px;
    left: -30px;
  } */

.footertext {
  color: #3a427e;
  font-size: 14px;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
}

.tww {
  position: absolute;
  left: 540px;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  background: #8b929aa7;
  color: #000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta {
  position: absolute;
  left: 580px;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  background: #8b929aa7;
  color: #000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  position: absolute;
  left: 420px;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  background: #8b929aa7;
  color: #000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inkedin {
  position: absolute;
  left: 460px;

  width: 30px;
  height: 30px;
  border-radius: 60% !important;
  background: #8b929aa7;
  color: #000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  position: absolute;
  left: 500px;
  width: 30px;
  height: 30px;
  border-radius: 60% !important;
  background: #8b929aa7;
  color: #000 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
