.col-font{
      
    font-family: Inter, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #343636;
    line-height: 28px ;
  

}

.exitbusiness{
    font-family:Inter, "Helvetica Neue", Arial, sans-serif ;
}

.div3-title{
    font-size: 18px;
    line-height: 32px;
    color: #326CF4;
    font-weight: bold;

}

.div3-bodytitle{
    font-size: 24px;
    line-height: 32px;
    color: #343636;
    font-weight: bold;

}

.div3-paragraph{
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

.div4{
    display: grid;
    place-items: center;
    
    color: #ffffff;
    font-size: 36px;
    line-height: 40px;
    font-weight: 300;


}

.exit-case-studies-two{
    position: absolute;
    left: 120px;
    width: 30px;
    height: 30px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 50% !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    
    color: white ;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #326CF4 ;
   
}



